<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Bruno | Executions</title>
</head>
<body>
    <div class="container">
        <h1>Bruno | Executions</h1>
        <table>
              <tr>
                <th> Message SID </th>
                <th> Execution SID </th>
                <th> Name </th>
                <th> Contact </th>
                <th> Status </th>
              </tr>
          {% block content %}
            {% for i in executions %}
              <tr>
                <td> {{ i.message_sid }} </td>
                <td> {{ i.execution_sid }} </td>
                <td> {{ i.name }} </td>
                <td> {{ i.contact }} </td>
                <td> {{ i.status }} </td>
              </tr>
            {% endfor %}
          {% endblock %}
        </table>
      </div>
</body>
</html>